{% extends "root.html" %}
{% block title %}Stackful.io - VPS Plans{% endblock %}
{% block content %}

<div class="row-fluid">

  <!-- start: Page section -->
  <section id="page-sidebar" class="pull-left span12">

  <!-- start: Wrapper -->
  <div class="wrapper">

    <!-- start: Page header / Breadcrumbs -->
    <section class="breadcrumbs">
    <div class="table">
      <div class="page-header table-cell">
        <h1>404 (page not found)</h1>
      </div>
      <div class="breadcrumbs table-cell">
        <div>You are here: <a href="#">Home</a> &nbsp;&rsaquo;&nbsp; 404 (page not found)</div>
      </div>
    </div>
    </section>
    <!-- end: Page header / Breadcrumbs -->

    <div class="hero-unit pull-center">
      <h2>Uh oh! <br/>404: Page not Found</h2>
      <p>
      Sorry, but the page you are looking for has not been found.<br/>
      Try checking the URL for errors, then hit the refresh button on your browser.
      </p>
      <div class="spacer"></div>

      <p><a class="btn btn-large btn-warning" href="/">Go to Home Page</a></p>

    </div>

  </div>
  <!-- end: Wrapper -->

  </section>
  <!-- end: Page section -->

</div>

{% endblock %}
