{% extends "root.html" %}
{% block title %}Stackful.io{% endblock %}

{% block content %}
<div class="row-fluid">

    <!-- start: Page section -->
    <section id="page-sidebar">

        <!-- start: Wrapper -->
        <div class="wrapper">
            <div class="hero-unit">
                <h1>Welcome to pelican-site-example</h1>
                <hr>

                <p>lorem ipsum...</p>
                <p>
                <a href="{{SITEURL}}/blog/index.html">Go see our blog now.</a>
                </p>
            </div>
        </div>
        <!-- end: Wrapper -->

    </section>
    <!-- end: Page section -->

</div>

{% endblock %}
